html {
  font-family: Lato;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(143, 103, 43);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px #fff solid;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  box-shadow: 1px 1px 10px 1px #000;
}

h1 {
  color: #fff;
}

h2 {
  font-size: 10rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

button {
  background-color: rgb(33, 33, 124);
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #000;
  cursor: pointer;
}
