*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background: #222;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
}

main{
    padding: 2rem 20%;
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.card-preview{
    background: rgb(185, 141, 28);
    padding: 2rem;
    border: 10px rgb(86, 118, 124) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 2px;
}

h1{
    font-size: 1.3rem;
}

.card-preview > *{
    width: 100%;
}

.title{
    padding: 0.5rem;
    border: 2px solid rgb(73, 73, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars{
    padding: 0.3rem;
    display: flex;
    justify-content: flex-end;
}

.big-img{
    height: auto;
    border: 4px solid rgb(86, 118, 124);
}

.description{
    font-weight: 500;
    color: #111;
    background: lightgoldenrodyellow;
    font-style: italic;
    margin: 1rem;
    padding: 0.3rem;
    border: 4px solid rgb(151, 91, 0);
    margin-bottom: 0;
    min-height: 18ch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats{
    border-top: 1px rgb(73, 73, 73) solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button{
    cursor: pointer;
}
