html {
  font-style: Lato;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(255, 166, 0);
}

.container {
  background: url(1.jpg);
  background-size: cover;
  width: 50%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid rgb(0, 238, 255);
  border-radius: 10px;
}

img {
  width: 50vw;
  height: 50vh;
}

.buttons {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -90%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.3rem;
  background-color: rgb(0, 238, 255);
  border: rgb(0, 238, 255) 1px solid;
  cursor: pointer;
  border-radius: 2px;
}
